.prices {
    display: flex;
    flex-direction: column;
    padding-left: 330px;
    border-top: 1px solid #D9FFF5;
}

.prices__title {
    padding: 16px;
    padding-left: 26px;
    padding-top: 34px;
    border-radius: 6px;
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: .01em;
    position: relative;

}
// price container style 

.prices__container {
  margin-left: 24px;
    max-width: 95%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: 80px 80px 80px 80px 80px 80px;
    align-items: center;
    background-color: #FFFFFF;
}

.p::nth-child(1) {
  background-color: #F8F8F8;

}

.prices__coommercial_container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.prices__header_period{
    /* Занимает один ряд и
    растягивается на две колонки */
    grid-column: span 2;
  }

  .prices__commercial_offer_text {
    padding-top: 30px;
    padding-left: 24px;
  }

  .prices__main_title,
  .prices__header_title {
    padding-left: 24px;
  }

// price main style

.prices__main_button {
    background-image: url(/src/imgblock4/buttonBlock4.svg);
    background-repeat: no-repeat;
    display: block;
    height: 32px;
    width: 120px;
}

.prices__commercial_offer_link::after {
  content: url(/src/imgblock4/ic_moreBlock4.svg);
  text-align: center;
  position: relative;
  top: 6px;
}

.prices__commercial_offer_link {
  padding-top: 20px;
  display: block;
  padding-left: 24px;
}